@import "tailwindcss";

@theme {
  --color-amarelo-bb: #fcfc30;
  --color-azul-bb: #465eff;
  --color-azul-600: #3333bd;
  --color-verde-500: #00ebd0;
  --color-rosa-600: #ff6e91;
  --color-roxo-600: #735cc6;
  --color-cinza-200: #f4f4f6;
  --color-cinza-400: #cecece;
  --color-cinza-600: #7b7f8b;
  --color-cinza-700: #333333;
  --default-font-family: "BancoDoBrasilTextos", "Arial", "Helvetica",
    "sans-serif";
  --font-bb-titulos: "BancoDoBrasilTitulos", "Arial", "Helvetica", "sans-serif";
}

.home-container {
  background-color: #fcfc30;
  position: relative;
  overflow: hidden;
}

.home-bg-unified {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

/* @font-face {
  font-family: "PetrobrasSans";
  font-weight: 300;
  src: url("/fonts/PetrobrasSans_Lt.ttf") format("truetype"),
    url("/fonts/PetrobrasSans_Lt.woff2") format("woff2");
} */

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 100;
  src: url("./assets/fonts/BancoDoBrasilTextos-Light.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-Light-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 100;
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTextos-LightIt.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-LightIt-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTextos-Italic.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-Italic-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 300;
  src: url("./assets/fonts/BancoDoBrasilTextos-Regular.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-Regular-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 400;
  src: url("./assets/fonts/BancoDoBrasilTextos-Medium.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-Medium-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 400;
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTextos-MediumIt.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-MediumIt-web.ttf")
      format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 700;
  src: url("./assets/fonts/BancoDoBrasilTextos-Bold.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-Bold-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 700;
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTextos-BoldIt.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-BoldIt-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 700;
  src: url("./assets/fonts/BancoDoBrasilTextos-Bold.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-Bold-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 900;
  src: url("./assets/fonts/BancoDoBrasilTextos-XBold.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-XBold-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTextos";
  font-weight: 900;
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTextos-XBoldIt.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTextos-XBoldIt-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 100;
  src: url("./assets/fonts/BancoDoBrasilTitulos-Light.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-Light-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 100;
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTitulos-LightIt.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-LightIt-web.ttf")
      format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTitulos-Italic.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-Italic-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 300;
  src: url("./assets/fonts/BancoDoBrasilTitulos-Regular.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-Regular-web.ttf")
      format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 400;
  src: url("./assets/fonts/BancoDoBrasilTitulos-Medium.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-Medium-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 400;
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTitulos-MediumIt.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-MediumIt-web.ttf")
      format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 700;
  src: url("./assets/fonts/BancoDoBrasilTitulos-Bold.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-Bold-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 700;
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTitulos-BoldIt.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-BoldIt-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 700;
  src: url("./assets/fonts/BancoDoBrasilTitulos-Bold.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-Bold-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 900;
  src: url("./assets/fonts/BancoDoBrasilTitulos-XBold.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-XBold-web.ttf") format("truetype");
}

@font-face {
  font-family: "BancoDoBrasilTitulos";
  font-weight: 900;
  font-style: italic;
  src: url("./assets/fonts/BancoDoBrasilTitulos-XBoldIt.woff") format("woff"),
    url("./assets/fonts/BancoDoBrasilTitulos-XBoldIt-web.ttf")
      format("truetype");
}
